$yellow-color:#FCD232;
@import "../../Base";
.nav-bar {
    display: flex;
    width: 90%;
    margin: 25px auto;
    align-items: center;
.sandwich {
    display: none;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    @extend %flex-center;
    flex-direction: column;
    cursor: pointer;
    .line{
        width: 50%;
        height: 3px;
        background-color: $yellow-color;
    }
    .line:not(:last-child){
        margin-bottom: 5px;
    }
}

    .navbar-links {
        flex-grow: 1;
        display: flex;
        
        a, button {
            margin-left:30px;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid $yellow-color;
            }

        }
        button{
            background-color: transparent;
            border:none;
        }
        
    }
    .navbar-btn {
        border-radius: 4px;
        background-color: black;
        color: $yellow-color;
        border: none;
        text-transform: uppercase;
        padding: 7px 15px;
        i {
         margin-right: 21px;
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .nav-bar {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 20px auto;
        .logo-sandwich {
            width: 95%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        .logo img{
            width: 50px;
        }
    }
    .sandwich{
        display: flex!important;
    }
    .navbar-links{
        flex-direction: column;
        background-color: black;
        width: 100%;
        margin: 15px 0 0 0;
        flex-grow: unset;
        align-items: center;
        height: fit-content;
        padding-bottom: 25px;

        a, button:first-of-type {
            margin-top: 25px;
            margin-left: 0!important;
            width: fit-content;
            color: white!important;
        }
      
    }
    .navbar-btn{
        margin-left: 0!important;
        margin-top: 25px!important;
        background-color: $yellow-color!important;
        color: black!important;
        font-size: 13px;
    }
    .showNav {
        display: none!important;
    }
   
}


@media only screen and (min-width: 425px) and (max-width: 768px) {


}