$yellow-color:#FCD232;

.nav-bar {
    display: flex;
    width: 90%;
    margin: 25px auto;
    align-items: center;
    .navbar-links {
        flex-grow: 1;
        display: flex;
        
        a {
            margin-left:30px;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 13px;
            text-decoration: none;
            &:hover {
                border-bottom: 2px solid $yellow-color;
            }

        }
        
    }
    .navbar-btn {
        border-radius: 4px;
        background-color: black;
        color: $yellow-color;
        border: none;
        text-transform: uppercase;
        padding: 7px 15px;
        i {
         margin-right: 21px;
        }
    }
}