%crnokopce {
    background-color: black;
    color: #FCD232;
}
h1 {
    font-weight: bold;
}

.homepage-header {
    height:85vh;
   
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
        }
    }
    
  
}
.homepage-zanas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    h1{
        width: 100%;
        margin: 0px auto 50px;
        text-align: center;
    }
 
    a{
        text-decoration: none;
        color: black;
    }
    .homepage-zanas-card{
        &:hover{
            transform: scale(1.01);
        }
        flex-basis: 30%;
        height: 530px;
        border-radius: 4px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
        position: relative;
        .img-div{
            height: 250px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .txt-div {
            width: 90%;
            text-align: left;
            margin: 20px auto 0;
            h3{
                font-size: 18px;
                font-weight: bold;
        
            }
            p{
                font-size: 13px;
            }
           
        }
        span {
            position: absolute;
            bottom: 10px;
            right: 10px;
            margin: 20px;
            width: 20px;
            height: 20px;
            padding: 20px;
            border-radius: 50%;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}

.edukacija {
    display: flex;
    width: 95%;
    margin: 50px auto;
    .txt-div {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .inside-txt-div{
            width: 80%;
            text-align: left;
            p{
                margin:30px 0;
            }
        }
        
        button {
            border: none;
            border-radius: 4px;
            text-transform: uppercase;
            padding: 10px 15px;
            font-weight: bold;
            font-size: 13px;
            outline: none;
        }
        .akademii {
        @extend %crnokopce;
        }
        .za-kompanii{
            margin-left: 20px;
            background-color: #FCD232;
            color: black;
        }

    }
    .img-div{
        flex-basis: 48%;
        border-radius: 4px;
        img{
            width: 100%;
            border-radius: 4px;
        }
    }
}
.div-kalendarKopce{
    width: 95%;
    margin: 0 auto;
    cursor: unset;
}
.kalendarKopce {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
    outline: none;
    @extend %crnokopce;
    float:right;
    cursor: pointer;
}
.homepage-coworking {
    flex-direction: row-reverse;
    .inside-txt-div{
        width: 95%!important;
        .sold-btn {
            padding: 3px 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            background-color: #FCD232;
            border: none;
           
        }
        h1,p{
            text-decoration: line-through;
        }
    }
    .p-text-timer {
        float: left;
        padding: 10px;
        border-radius: 15px;
        background-color: #FCD232;
        color: black;
        margin-top: 10px;
        width: fit-content;
        font-weight: bold;
    }
}
.prostor-zanastani {
    padding: 10px 15px;
    text-decoration: none !important;
    border-radius: 4px;
    margin-top: 10px!important;
    font-size: 13px!important;

     i{
         margin-right: 5px;
         font-size: 13px;
     }
}
.partneri {
    padding: 50px;
  
    p {
        margin: 20px 0;
    }
    a {
        margin-top: 10px;
        font-size: 15px;
        @extend %crnokopce;
        text-decoration: none;
    }
}