@import "../../Base";


.active {
    border-bottom: 2px solid black!important;
    color: black!important;
}
.spaceblog-navbar {
    width: 65%;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 20px;
    button{
        text-transform: uppercase;
    }
    p, button {
        font-size: 13px;
        font-weight: bold;
    }
    p {
        margin-bottom: 0;
    }
    button {
        border: none;
        outline: none;
        background-color: white;
        color: #6e6e6e;
        &:hover {
            border-bottom: 2px solid black;
            color: black;
        }
    }
    a{
        text-transform: none;
        color: black;
        font-weight: bold;
        color: #6e6e6e;
        &:hover {
            border-bottom: 2px solid black;
            color: black;
            text-decoration: none;}
    }
    
}

.spaceblog-header {
    height: 75vh;
    background-color: black;
    .content-change {
        width: 100%;
        height: 100%;
    }
    .overlay {
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        @extend%flex-center;
        .txt-div{
            width: 80%;
            margin: 0 auto;
            @extend %flex-column;
            text-align: left;
        }
        .description {
            width: fit-content;
            @extend %zolto-kopce;
            padding: 8px 17px;
            border-radius: 31px;
            font-size: 15px;
            font-weight: bold;
        }
        .button-span{
            display: flex;
            justify-content: space-between;
            width: 100%;
            span{
                color: $yellow;
                font-size: 23px;
                width: 14%;
                font-weight: bold;
            }
        }
        h1{
          margin: 30px 0;  
        }
        h1,p {
            color: white;
        }
        button {
            border: none;
            color: black;
            background-color: white;
            padding: 8px 20px;
            border-radius: 4px;
            width: 100px;
            text-transform: uppercase;
            width:17%;
            font-size: 13px;
            outline: none;
            margin-top: 10px;
            i{
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }
    .space-header-btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .arrow {
            @extend %arrow-style;
            @extend %flex-center;
            border: 1px solid white;
            cursor: pointer;
            i{
                color: white;
            }
        }
        
    }
  
   
  
}
.spaceblog-list{
    width: 90%;
    margin:50px auto;
}
.spaceblog-card-btn{
   .space-description{
       position: absolute;
       bottom: 10px;
       left: 10px;
       font-size: 13px;
       @extend%zolto-kopce;
       width: fit-content!important;
       padding: 15px!important;
       border-radius: 15px!important;
       border: none!important;
       font-weight: bold;
   }
}