@import "../../Base";

.inovacii-forma {
    width: 100%;
    position: fixed;
    top: 0;
   
    height: 100vh;
    z-index: 1;
    .overlay {
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        @extend %flex-center;
        
        form {
            background-color: #FCD232;
            width: 75%;
            height: 55vh;
            border-radius: 4px;
            display: flex;
            div{
                @extend %flex-column;
                width: 90%;
                margin: 10px auto;
                label {
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 4px;
                    span{
                        float: right;
                        font-size: 10px;
                        margin: 8px 0 0;
                    }
                }
                input, textarea{
                    border-radius: 4px;
                    border: 1px solid lightgray;
                    font-style: italic;
                    padding: 5px;
                    color: #FCD232
                }

            }
            .btn-forma-div{
                @extend %flex-row;
                justify-content: flex-end;
                padding: 53px 0 0;
                button{
                    border: none;
                    padding: 7px 15px;
                    border-radius: 4px;
                }
                .isprati{
                    margin-right: 15px;
                   
                }
                .priklucise{
                    i{
                        margin-right: 10px;
                    font-size: 11px;
                        }
                    
                        @extend %crnokopce;
                }
            }
        }
    }
}