@import "../../Base";
.prostor-za-nastani{
    width: 95%;
    margin: 20px auto;
}
img{
    width: 100%;
}
.txt-div{
    text-align: left;
    @extend %flex-column;
    justify-content: center;
    align-items: flex-start;
}
.box-1,.box-2,.box-3, .box-5{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-bottom: 40px;
}
.box-1{
    .txt-div{
        flex-basis: 30%;
     
      
        button{
            margin-top: 40px;
            border: none;
            @extend%crnokopce;
            padding: 10px 30px;
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 13px;
            i{
                margin-right: 10px;
            }
        }
    }
    .img-div{
        flex-basis: 60%;
      
    }
}
.box-2{
    margin-top: 50px;
    .txt-div{
        flex-basis: 25%;
    }
    .img-div{
        flex-basis: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div{
            flex-basis: 30%;
            .image{
                height: 160px;
                img{
                    height: 100%;
                }
            }
        }
    }
}
.box-3{
    margin-top: 50px;
    .txt-div{
        flex-basis: 32%;
        
    }
    .img-div{
        flex-basis: 65%;
        display: flex;
        justify-content: space-between;
        height: 75vh;
        .img-1 {
            flex-basis: 48%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            
            .first-img-div{
                flex-basis: 48%;
            }
           .second-img-div{
                flex-basis: 48%;
               display: flex;
               justify-content: space-between;
               div{
                   flex-basis:48%;
               }
           }
        }
        .img-2{
            flex-basis: 48%;
        }
    }
}
.box-4 {
    margin: 50px 0;
    .span-div {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
    }
    h1{
        text-align: left;
        margin-bottom: 5px;
    }
    .planet{
        @extend %flex-center;
        background-color: black;
        width: fit-content;
        padding: 6px 12px;
        border-radius: 4px;
        margin:  10px 10px 10px 0;
        i, span {
            font-size: 25px;
        }
        i{
            color: $yellow;
        }
        span{
            color: white;
            margin-left: 6px;
        }
    }
}
.box-5 {
    margin: 50px 0 100px 0;
    .img-div{
        flex-basis: 44%;
        height: 90vh;
    }

}
@media only screen and (min-width: 320px) and (max-width: 425px) {

    .box-1{
       
        h1{
            text-align: left;
        }
        .txt-div{
            padding-bottom: 20px;
        }
    }
    .box-2{
        flex-direction: column;
        .img-div{
            div{
                flex-basis: unset;
                text-align: left;
            }
        }
    }
    .box-3{
        flex-direction: column-reverse;
        .img-div{
           display: block;
           .img-1{
               display: block;
               .first-img-div,.second-img-div div{
                height: 160px;
                margin-bottom: 15px;
            }
            .second-img-div{
                display: block;
                div{
                    width: 100%;
                }
            }
           }
           .img-2{
               height: 160px;
           }
        }
        
    }
    .box-4 {
        .span-div {
            .planet{
                span{
                    font-size: 20px;
                }
            }
        }
    }
    .box-5{
        flex-direction: column-reverse;
        .img-div{
            flex-basis: unset;
        }
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .box-1{
        flex-direction: column;
        .txt-div{
            padding-bottom: 20px!important;
        }
    }
    .box-2{
        flex-direction: column;
        .img-div{
            justify-content: space-between;
            div{
                flex-basis: 48%;
                 p {
                    text-align: left;
                }
            }

        }
    }
    .box-3{
        flex-direction: column-reverse;
        .img-div{
            .img-1{
                display: block;
                
            .first-img-div{
                flex-basis: unset;
                width: 100%;
                height: 160px;
                margin-bottom: 20px;
            }
            .second-img-div{
                width: 208%;
                height: 160px;
            }
            }
            .img-2{
                height: 160px;
                margin-bottom: 20px;
            }
            }
        
    }
    .box-5{
        flex-direction: row-reverse;
        justify-content: flex-end;
        .txt-div{
            margin-left: 20px;
        }
    }
}
