@import "../../Base"; 
.akademii{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;

    .txt-div{
        flex-basis: 30%;
        @extend%flex-column;
    }
    .img-div{
        flex-basis: 65%;
        border-radius: 4px;
        height: 90vh;
    }
    .akademii-cards {
        width: 100%;
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{
            margin-bottom: 25px;
            flex-basis: 32%;
            cursor: pointer;
            border-radius: 10px;
        &:hover{
            transform: scale(1.01);
            }
            .overlay{
                height: 100%;
                @extend %flex-column;
                justify-content: space-between;
                align-items: flex-start;
                h1,p {
                    color: white;
                    text-align: left;
                    
                }
                h1{
                    font-size: 33px;
                    padding: 15px;
                }
                .p-text{
                    width: 90%;
                    padding: 15px ;
                }
                div{
                    div{
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        i{  
                            flex-basis: 10%;
                            font-size: 20px;
                            color: white;
                        }
                    }
                }
                p{
                    flex-basis: 88%;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-left: 15px;
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .akademii{
        flex-direction: column;
        h1{
            margin-bottom: 20px;
        }
        .img-div{
            flex-basis: unset;
        }
        .akademii-cards{
            .card{
                flex-basis: 100%;
            }
        }
    }

}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    .akademii{
        flex-direction: column;
        width: 95%;
        .img-div{
            flex-basis: unset;
        }
        .akademii-cards{
            
            .card{
                flex-basis: 49%;
            }
        }
    }
}